@media screen and (max-width:700px){
    navbar .navbar {
        display: flex;
        flex-direction: column;
    }

    .botaoM, .botaoA {
        margin-top: 5px;
        width: 200px;
        height: 40px;
    }
}